<h1>{{data.title}}</h1>
<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" ng-src="{{data.images.large}}"  alt="..." style="height: 300px" >
        </a>
    </div>
    <div class="media-body">
        <span class="badge pull-right ">{{data.rating.average}}</span>
        <h3 class="media-heading">{{data.title}}</h3>
        <p>类型：<span>{{data.genres.join('、')}}</span>&nbsp;&nbsp;&nbsp;&nbsp;上映年份：<span>{{data.year}}</span></p>
        <p>导演：
            <span ng-repeat="director in data.directors">{{director.name}}{{$last?'':'、'}}</span></p>
        <p>主演：
        <span ng-repeat="cast in data.casts">{{cast.name}}{{$last?'':'、'}}</span>
    </p>
        <p>制片国家/地区：
            <span ng-repeat="cast in data.countries">{{cast}}{{$last?'':'、'}}</span>
        </p>
        <p>语言：
            <span ng-repeat="cast in data.languages">{{cast}}{{$last?'':'、'}}</span>
        </p>
        <p>上映日期：
            <span >{{data.namemainland_pubdate}}</span>
        </p>
        <p>片长：
            <span>{{data.durations}}</span>
        </p>
        <p>又名：
            <span ng-repeat="cast in data.aka">{{cast}}{{$last?'':'、'}}</span>
        </p>
    </div>
</div>
<p>{{data.summary}}</p>